<div class="container">
  <div class="row">
    <div class="col-md-12">
      <strong><i>Directives</i></strong>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" *ngIf="ispara">
      <p class="alert alert-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius aut id veritatis maiores. At cum aperiam iusto cumque odit sed quisquam perferendis.
         Possimus hic dicta nihil non cumque provident odio.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ng-template [ngIf]="ispara">
      </ng-template>  
      </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <input type="button" class=" btn btn-success" value="Okay" (click)="onOkay()">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul>
      <li *ngFor="let mb of mobs">{{mb}}</li>
      </ul>
    </div>
  </div>
</div>